## Ingestion code & exploration for green taxi data

### First try to read a single CSV file from the green taxi data [URL](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green)

In [1]:
import pandas as pd

In [2]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020-10.csv.gz"
df = pd.read_csv(url, nrows=100)

In [3]:
df[:5]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1,7,7,1,0.79,5.0,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1,1,0.0
1,2,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1,179,7,1,0.50,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0.0
2,2,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1,179,223,1,0.60,4.0,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1,1,0.0
3,1,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1,134,216,2,4.40,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1,0.0
4,1,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1,82,7,1,2.90,10.5,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2,1,0.0

## Part 1 - Load

### Now create a function to read based on specific months

In [4]:
def load_df(input_url, months):
    assert type(months) == list
    assert type(input_url) == str
    
    dfs = []
    for month in months:
        url = input_url + "-" + month + ".csv.gz"             # Construct the URL for the CSV file

        df = pd.read_csv(url, compression='gzip')  # Read the CSV file directly from the URL into a DataFrame
        dfs.append(df) 
        
    return pd.concat(dfs, ignore_index=True)

In [5]:
# Test
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2020"
df = load_df(url, ["10", "11", "12"])

df

/tmp/ipykernel_577454/3051236421.py:9: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, compression='gzip')  # Read the CSV file directly from the URL into a DataFrame
/tmp/ipykernel_577454/3051236421.py:9: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, compression='gzip')  # Read the CSV file directly from the URL into a DataFrame
/tmp/ipykernel_577454/3051236421.py:9: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, compression='gzip')  # Read the CSV file directly from the URL into a DataFrame

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.00,0.5,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.00,0.5,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.50,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.50,0.5,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266850,NaN,2020-12-31 23:02:00,2020-12-31 23:16:00,NaN,NaN,174,168,NaN,7.04,20.33,0.0,0.0,0.00,0.0,NaN,0.3,20.63,NaN,NaN,NaN
266851,NaN,2020-12-31 23:39:00,2020-12-31 23:54:00,NaN,NaN,256,225,NaN,2.79,13.17,0.0,0.0,0.00,0.0,NaN,0.3,13.47,NaN,NaN,NaN
266852,NaN,2020-12-31 23:09:00,2020-12-31 23:33:00,NaN,NaN,146,10,NaN,12.41,45.12,0.0,0.0,2.75,0.0,NaN,0.3,48.17,NaN,NaN,NaN
266853,NaN,2020-12-31 23:01:00,2020-12-31 23:12:00,NaN,NaN,196,28,NaN,4.46,13.96,0.0,0.0,3.13,0.0,NaN,0.3,17.39,NaN,NaN,NaN
266854,NaN,2020-12-31 23:12:00,2020-12-31 23:37:00,NaN,NaN,215,35,NaN,10.34,39.95,0.0,0.0,2.75,0.0,NaN,0.3,43.00,NaN,NaN,NaN

In [6]:
df.shape

(266855, 20)

## Part 2 - Transform

Now we will perform the following transformations to the DataFrame:

- Remove rows where the passenger count is equal to 0 and the trip distance is equal to zero.
- Create a new column lpep_pickup_date by converting lpep_pickup_datetime to a date.
- Rename columns in Camel Case to Snake Case, e.g. VendorID to vendor_id.
- Add three assertions:
    - vendor_id is one of the existing values in the column (currently)
    - passenger_count is greater than 0
    - trip_distance is greater than 0

In [7]:
def transform_df(df):    
    
    df = df.copy()
    
    # Remove rows where the passenger count is equal to 0 (or NaN) and the trip distance is equal to zero
    condition = (df['trip_distance'].fillna(0) != 0) & (df['passenger_count'].fillna(0) != 0)
    df = df[condition]
    
    # Create a new column lpep_pickup_date by converting lpep_pickup_datetime to a date
    df['lpep_pickup_date'] = pd.to_datetime(df['lpep_pickup_datetime'])
    
    # Rename columns in Camel Case to Snake Case, e.g. VendorID to vendor_id
    df.columns = (df.columns
                .str.replace('(?<=[a-z])(?=[A-Z])', '_', regex=True)
                .str.lower()
             ) 
    
    # Assertion 1: vendor_id is one of the existing values in the column
    assert df['vendor_id'].isin(df['vendor_id'].unique()).all(), "vendor_id contains invalid values"
    
    # Assertion 2: passenger_count is greater than 0
    assert (df['passenger_count'] > 0).all(), "passenger_count contains values less than or equal to 0"
    
    # Assertion 3: trip_distance is greater than 0
    assert (df['trip_distance'] > 0).all(), "trip_distance contains values less than or equal to 0"
    
    return df

In [8]:
# Test
transformed_df = transform_df(df)
transformed_df

,vendor_id,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecode_id,pulocation_id,dolocation_id,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date
0,2.0,2020-10-01 00:31:19,2020-10-01 00:34:55,N,1.0,7,7,1.0,0.79,5.0,...,0.5,1.58,0.0,NaN,0.3,7.88,1.0,1.0,0.0,2020-10-01 00:31:19
1,2.0,2020-10-01 00:42:12,2020-10-01 00:43:51,N,1.0,179,7,1.0,0.50,4.0,...,0.5,0.00,0.0,NaN,0.3,5.30,2.0,1.0,0.0,2020-10-01 00:42:12
2,2.0,2020-10-01 00:53:09,2020-10-01 00:55:39,N,1.0,179,223,1.0,0.60,4.0,...,0.5,1.06,0.0,NaN,0.3,6.36,1.0,1.0,0.0,2020-10-01 00:53:09
3,1.0,2020-10-01 00:12:29,2020-10-01 00:20:08,N,1.0,134,216,2.0,4.40,13.5,...,0.5,0.00,0.0,NaN,0.3,14.80,2.0,1.0,0.0,2020-10-01 00:12:29
4,1.0,2020-10-01 00:32:38,2020-10-01 00:43:02,N,1.0,82,7,1.0,2.90,10.5,...,0.5,0.00,0.0,NaN,0.3,11.80,2.0,1.0,0.0,2020-10-01 00:32:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230012,2.0,2020-12-31 23:08:35,2020-12-31 23:13:00,N,1.0,41,74,1.0,0.79,5.0,...,0.5,0.00,0.0,NaN,0.3,6.30,2.0,1.0,0.0,2020-12-31 23:08:35
230013,2.0,2020-12-31 23:11:04,2020-12-31 23:20:08,N,5.0,41,116,2.0,2.31,12.0,...,0.0,0.00,0.0,NaN,0.3,12.30,2.0,2.0,0.0,2020-12-31 23:11:04
230014,2.0,2020-12-31 23:24:33,2020-12-31 23:40:24,N,5.0,116,119,1.0,5.73,20.0,...,0.0,0.00,0.0,NaN,0.3,20.30,2.0,2.0,0.0,2020-12-31 23:24:33
230015,2.0,2020-12-31 23:13:59,2020-12-31 23:16:20,N,1.0,42,42,1.0,0.31,3.5,...,0.5,0.00,0.0,NaN,0.3,4.80,2.0,1.0,0.0,2020-12-31 23:13:59
230016,2.0,2020-12-31 23:54:15,2021-01-01 00:11:17,N,1.0,75,167,1.0,3.74,15.0,...,0.5,1.00,0.0,NaN,0.3,17.30,1.0,1.0,0.0,2020-12-31 23:54:15

In [9]:
transformed_df.shape

(139370, 21)

In [10]:
transformed_df['vendor_id'].unique()

array([2., 1.])

### Convert to parquet